.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto 0 auto;
  max-width: 736px;
}

@media only screen and (max-width: 640px) {
  .outerContainer {
    margin: 20px auto 0 auto;
    padding: 0 16px;
  }
}
