.outerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 989px;
  margin: 40px auto 0 auto;
  padding: 16px;
}

.storiesContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

@media only screen and (max-width: 900px) {
  .storiesContainer {
    flex-direction: column;
  }
}

@media only screen and (max-width: 640px) {
  .outerContainer {
    margin: 20px auto 0 auto;
  }
  .storiesContainer {
    margin-top: 20px;
  }
}
