.outerContainer {
  width: 340px;
}

.programDescriptionElementsContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

@media only screen and (max-width: 640px) {
  .outerContainer {
    width: 100%;
    margin-top: 40px;
  }
  .programDescriptionElementsContainer {
    margin-top: 24px;
  }
  
}
