@font-face {
  font-family: 'SF-Pro-Display-Regular';
  src: local('SF-Pro-Display-Regular'), url('./assets/fonts/SF Pro Display/SF-Pro-Display-Regular.otf') format('otf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  font-family: "SF-Pro-Display-Regular", sans-serif;
}

.app-container {
  max-width: 1440px;
  margin: 0 auto;
}

@media only screen and (max-width: 640px) {
  html,
  body {
    overflow-x: hidden;
  }
}
